body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
 height: 50px;
 background-color: #272727;
 display: flex;
 justify-content: center;
 align-items: center;
}

header .title {
  text-align: center;
  font-size: 2rem;
  color: #FFFFFF;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}

footer {
 height: 50px;
 background-color: #272727;
 display: flex;
 justify-content: center;
 align-items: center;
}

footer .copyright {
  text-align: center;
  font-size: 1rem;
  color: #FFFFFF;
}

.index-container {
  width: 100%;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  background-color: #FFFFFF;
  border-radius: 0px 0px 100px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-container .form-container {
  width: 30%;
  min-width: 400px;
}

.index-container .form-container .title {
  font-size: 2rem;
  text-align: center;
}

.index-container .form-container .title-small {
  margin: 10px 0;
  font-size: 1.5rem;
  text-align: center;
}

.index-container .form-container form {
  padding: 10px 50px;
  border: 5px solid #272727;
  border-radius: 10px;
}

.room-container {
  width: 100%;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  background-color: #FFFFFF;
  display: flex;
  position: relative;
}

.room-container .whiteboard {
  width: 70%;
  background-color: #bbbbbb;
  overflow: auto;
}

.room-container .chatbox {
  width: 30%;
  background-color: #dddddd;
  overflow-y: auto;
}

.room-container .chatbox .msg-container {
  height: 800px;
}

.color-btn-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}

.color-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid	#E0E0E0	;
  margin: 0 5px;
}

.color-btn:hover {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.8);
}

.now-color {
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 1.0);
}

.width-btn-container {
  position: absolute;
  top: 80px;
  left: 20px;
}

.width-btn-container input {
  width: 200px;
}

.value-range-display {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 200px 20px 0;
  border-color: transparent #5B5B5B transparent transparent;
}
